@model IEnumerable<WebAppEjecucion.Models.Programa>

@{
    ViewBag.Title = "Index";
}

<h2>Programas</h2>

<p>
    @Html.ActionLink("Agregar Programa", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            Nombre del Programa
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Programa1)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdPrograma }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdPrograma }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdPrograma })
        </td>
    </tr>
}

</table>
