@*@model IEnumerable<WebAppEjecucion.Models.ViewModels.ProgramasViewModel>*@
@model WebAppEjecucion.Models.ViewModels.ProgramasViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Programas</h2>

<p>
    @Html.ActionLink("Agregar Programa", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            Nombre del Programa
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Programas) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Programa1)
        </td>
        <td>
            @Html.ActionLink("Ver Detalles", "Details", new { id = item.IdPrograma }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Editar", "Edit", new { id=item.IdPrograma }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.IdPrograma }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
@{Html.RenderPartial("_paginador", Model);}