@model List<EjecucionWebApplication.Models.Obra>
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Expediente Matriz</th>
            <th>Fecha inicio</th>
            <th>Monto original</th>
            <th>Plazo original</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var Obra in Model)
        {
            <tr>
                <td>@Obra.ObraNombre
                <td>
                <td>@Obra.ExpMatriz</td>
                <td>@Obra.FechaInicio</td>
                <td>@Obra.MontoOriginal</td>
                <td>@Obra.PlazoOriginal</td>
            </tr>
        }

    </tbody>
</table>
