@model WebAppEjecucion.Models.Obra

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles de la Obra</h2>
<div>
    <h4>Obra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Obra1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obra1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DptoProvincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DptoProvincia.DptoProvincia1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpresaConstructora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpresaConstructora.EmpresaConstructora1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Programa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Programa.Programa1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expMatriz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expMatriz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACCU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantParaSorteo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantParaSorteo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.montoOriginal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.montoOriginal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.licitacionResolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.licitacionResolucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plazoOriginal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plazoOriginal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fechaFinalizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaFinalizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoContratoPesos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoContratoPesos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoContratoUVI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoContratoUVI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaOferta)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Atras", "Index", "Obras", null, new { @class = "btn btn-danger" }) |
    @Html.ActionLink("Editar", "Edit", "Obras", new { id = Model.IdObra }, new { @class = "btn btn-primary" })
</p>

<div class="row">
    <div class="col col-md-2">
        <p>@Html.ActionLink("Avances", "Index", "Avances", new { id = Model.IdObra },null)</p>
    </div>
    <div class="col col-md-2">
        <p>@Html.ActionLink("Entregas", "Index", "Entregas",new { id = Model.IdObra }, null)</p>
    </div>
    <div class="col col-md-2">
        <p>@Html.ActionLink("Prototipos de la obra", "Index", "RelaObraPrototipoes", new { id = Model.IdObra }, null)</p>
    </div>
    <div class="col col-md-2">
        <p>@Html.ActionLink("Seguimiento de Obra", "Index", "Seguimiento", new { id = Model.IdObra }, null)</p>
    </div>
     <div class="col col-md-2">
        <p>@Html.ActionLink("Certificados de Obra", "Index", "RelaObraCertificadoes",  new { id = Model.IdObra},null)</p>
    </div>
</div>
