@model WebAppEjecucion.Models.relaObraCertificado

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de la Documentación final</h2>

<div>
    <h4>relaObraCertificado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Obra.Obra1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obra.Obra1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCertificado.TipoCertificado1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCertificado.TipoCertificado1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaPresentacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaPresentacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Certificado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Certificado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdrelaObraCertificado }) |
    @Html.ActionLink("Atras", "Index", null, new { id = Model.IdObra }, new { @class = "btn btn-danger" })
</p>
