@model IEnumerable<WebAppEjecucion.Models.relaObraCertificado>

@{
    ViewBag.Title = "Index";
}

<h2>Obra Certificado</h2>

<p>
    @Html.ActionLink("Agregar Certificado", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Obra.expMatriz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoCertificado.TipoCertificado1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaPresentacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Certificado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Obra.expMatriz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoCertificado.TipoCertificado1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaPresentacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Certificado)
        </td>
        <td>
            @Html.ActionLink("Ver Detalles", "Details", new { id = item.IdrelaObraCertificado }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Editar", "Edit", new { id=item.IdrelaObraCertificado }, new { @class = "btn btn-warning" }) |            
            @Html.ActionLink("Borrar", "Delete", new { id=item.IdrelaObraCertificado }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
