@model WebAppEjecucion.Models.Seguimiento

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Seguimiento</h2>

<h3>¿Seguro que desea eliminar los datos del Seguimiento?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
           Obra
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obra.Obra1)
        </dd>

        <dt>
            Fecha de Seguimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaSeguimiento)
        </dd>

        <dt>
            Estado de Obra
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoObra.EstadoObra1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Atras", "Index", "Seguimiento", new { id = Model.IdObra }, new { @class = "btn btn-danger" })
        </div>
    }
</div>
