@model EjecucionWebApplication.Models.Obra

<div>
    <h4>Detalles de Obra</h4>
    <hr />
    @Html.ActionLink("Ver Avances de Obra", "index", "avance", null, new { @class = "btn btn-danger" })
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdObra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdObra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpMatriz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpMatriz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObraNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObraNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACCU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdDptoProvincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDptoProvincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdPrograma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPrograma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEmpConstructora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEmpConstructora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantParaSorteo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantParaSorteo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoOriginal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoOriginal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicitacionResolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicitacionResolucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlazoOriginal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlazoOriginal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFinalizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFinalizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoContratoPesos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoContratoPesos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoContratoUVI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoContratoUVI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
