@model WebAppEjecucion.Models.ViewModels.PrototiposViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Prototipos</h2>

<p>
    @Html.ActionLink("Agregar Prototipo", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            Prototipo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Prototipos) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Prototipo)
        </td>
        <td>
            @Html.ActionLink("Ver Detalles", "Details", new { id = item.IdPrototipo }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Editar", "Edit", new { id=item.IdPrototipo }, new { @class = "btn btn-warning" }) |            
            @Html.ActionLink("Borrar", "Delete", new { id=item.IdPrototipo }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
@{Html.RenderPartial("_paginador", Model);}