@model IEnumerable<WebAppEjecucion.Models.Prototipos>

@{
    ViewBag.Title = "Index";
}

<h2>Prototipos</h2>

<p>
    @Html.ActionLink("Agregar Prototipo", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Prototipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Prototipo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdPrototipo }) |
            @Html.ActionLink("Ver Detalles", "Details", new { id=item.IdPrototipo }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdPrototipo })
        </td>
    </tr>
}

</table>
