@model IEnumerable<WebAppEjecucion.Models.PlanTrabajoDetalle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlanTrabajo.IdPlanTrabajo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaAvance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.porcentajePrevisto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.porcentajeReal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.porcentajeAtraso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlanTrabajo.IdPlanTrabajo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaAvance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.porcentajePrevisto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.porcentajeReal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.porcentajeAtraso)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPlanTrabajoDet }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPlanTrabajoDet }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPlanTrabajoDet })
        </td>
    </tr>
}

</table>
