@using WebAppEjecucion.Models;
@model WebAppEjecucion.Models.ViewModels.UsersViewModel

@{
    ViewBag.Title = "Index";
}
@if (ViewBag.resultado == 1)
{
    <div class="alert alert-success" role="alert">
        La contraseña fue reseteada exitosamente!.
    </div>

}
else if (ViewBag.resultado == 0)
{
    <div class="alert alert-danger" role="alert">
        Ocurrió un erro!
    </div>
}
<h2>Gestion de Usuarios</h2>
<div class="row">
    <div class="col col-md-2">
        <p>@Html.ActionLink("Crear nuevo usuario", "Create", null, new { @class = "btn btn-success" })</p>
    </div>
    <div class="col col-md-2">
        <p>@Html.ActionLink("Gestion de Roles", "index","ManageRoles", null, new { @class = "btn btn-success" })</p>
    </div>
</div>
    <table class="table table-responsive">
        <tr>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                Email Confirmado
            </th>
            <th>
                Numero de telefono
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model.Users)
        {
            var userid = item.Id;
            ConexionEjecucionDB db = new ConexionEjecucionDB();
            var block = db.AspNetUsersBlock.Where(y => y.UserId == userid).FirstOrDefault();
             var bloqueado = block == null ? false : true;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
              @if (bloqueado)
              {
                <td>
                    @Html.ActionLink("Roles", "gestionarRolesPorUsuario", new { userid = item.Id }, new { @class = "btn btn-warning" })
                </td>
                <td>
                    @Html.ActionLink("Activar", "activarUsuario", new { id = item.Id }, new { @class = "btn btn-success" })
                </td>
                <td>
                    @Html.ActionLink("Resetear Contraseña", "ResetPassWord", new { code = item.Id }, new { @class = "btn btn-warning" })
                </td>
              }
              else
              {
                <td>
                    @Html.ActionLink("Roles", "gestionarRolesPorUsuario", new { userid = item.Id }, new { @class = "btn btn-warning" })
                </td>
                <td>
                    @Html.ActionLink("Desactivar", "desactivarUsuario", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
                <td>
                    @Html.ActionLink("Resetear Contraseña", "ResetPassWord", new { code = item.Id }, new { @class = "btn btn-warning" })
                </td>


              }
            </tr>
        }

    </table>
@{Html.RenderPartial("_paginador", Model);}
