@model WebAppEjecucion.Models.Avance

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles de Avance de Obra</h2>

<div>
    <h4>Avance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Expediente Matriz
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obra.expMatriz)
        </dd>

        <dt>
            Porcentaje Previsto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.porcentajePrevisto)
        </dd>

        <dt>
            Porcentaje Real 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.porcentajeReal)
        </dd>

        <dt>
            Porcentaje Atraso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.porcentajeAtraso)
        </dd>

        <dt>
            Fecha de Avance
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAvance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Atras", "Index", "Avances", new { id = Model.IdObra }, new { @class = "btn btn-danger" }) |
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdAvance }, new { @class = "btn btn-primary"})
 

</p>
