@model IEnumerable<WebAppEjecucion.Models.Avance>

@{
    ViewBag.Title = "Index";
}
@if (Model.Count() != 0)
{
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
          var data = google.visualization.arrayToDataTable(@ViewBag.datosCharts);
          var options = {
          title: 'Avances de obra',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        chart.draw(data, options);
      }
    </script>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
}
<h2>Avances de Obra</h2>
<p>
    @Html.ActionLink("Agregar Avance", "Create", new { id = ViewBag.idobra }, new { @class = "btn btn-success" })
</p>
@if (Model.Count() != 0)
{
    <table class="table">
        <tr>
            <th>
                Obra
            </th>
            <th>
                Porcentaje Previsto
            </th>
            <th>
                Porcentaje Real
            </th>
            <th>
                Porcentaje de Atraso
            </th>
            <th>
                Fecha de Avance
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Obra.Obra1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.porcentajePrevisto)%
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.porcentajeReal)%
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.porcentajeAtraso)%
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaAvance)
                </td>
                <td>
                    @Html.ActionLink("Ver Detalles", "Details", new { id = item.IdAvance }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdAvance }, new { @class = "btn btn-warning" }) |                    
                    @Html.ActionLink("Borrar", "Delete", new { id = item.IdAvance }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>La Obra no tiene Avances cargados</p>
}

<p>
    @Html.ActionLink("Atras", "Details", "Obras", new { id = ViewBag.idobra } , new { @class = "btn btn-danger" })
</p>
