@model IEnumerable<WebAppEjecucion.Models.Entregas>

@{
    ViewBag.Title = "Index";
}

<h2>Entregas</h2>

<p>
    @Html.ActionLink("Agregar Entrega", "Create", new { id = ViewBag.idobra }, new { @class = "btn btn-success" })
</p>
@if (Model.Count() != 0)
{
    <table class="table">
        <tr>
            <th>
                Obra
            </th>
            <th>
                Fecha de entrega
            </th>
            <th>
                Cantidad Entregada
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Obra.Obra1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEntrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantEntregada)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdEntrega }) |
                    @Html.ActionLink("Ver Detalles", "Details", new { id = item.IdEntrega }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdEntrega })
                </td>
            </tr>
        }

    </table>
}
else
{
    <p>La Obra no tiene entregas cargadas</p>
}

<p>
    @Html.ActionLink("Atras", "Details", "Obras", new { id = ViewBag.idobra }, new { @class = "btn btn-danger" })
</p>

