@model IEnumerable<WebAppEjecucion.Models.Entregas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar Entrega", "Create", new { id = ViewBag.idobra }, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.relaObraPrototipo.Prototipos.Prototipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantEntregada)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.relaObraPrototipo.Prototipos.Prototipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEntrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantEntregada)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdEntrega }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdEntrega }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdEntrega })
        </td>
    </tr>
}

</table>
